<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}FlexHire{% endblock %}</title>


  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <style>
    body {
      font-family: 'Manrope';
    }
  </style>

  <!-- Tailwind CSS CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-50 text-gray-800">

  <!-- Navbar -->
  <nav class="bg-white shadow-md">
    <div class="max-w-6xl mx-auto px-4 py-3 flex justify-between items-center">
      <a href="/" class="text-2xl font-bold text-indigo-600">FlexHire</a>

      <div class="space-x-4">
          <a href="/api/docs/" class="btn bg-green-200 px-4 py-2 rounded-xl hover:text-white hover:bg-green-900">Api Docs</a>
          <a href="/admin/" class="btn bg-blue-200 px-4 py-2 rounded-xl hover:text-white hover:bg-blue-900">Admin Pannel</a>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <main class="max-w-6xl mx-auto p-6">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer class="bg-white shadow-inner mt-12 py-6 text-center text-gray-500">
    © {{ now|date:"Y" }} FlexHire. All rights reserved.
  </footer>
</body>
</html>

